* {
  margin: 0;
  padding: 0;
}

/* google Lato font: */
body {
  font-family: 'Lato', sans-serif;
}

header {
  position: relative;
}

/* position logo center: */
.logo img {
  display: block;
  margin: 60px auto 20px auto;
  width: 200px;
}

/* fix nav bar to top of screen */
nav {
  background: white;
  border-bottom: 1px solid rgb(239, 239, 239);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: flex-start;
  margin-left: 100px;
}

@media only screen and (max-width: 480px) {
  .nav {
    justify-content: center;
    margin-left: 10px;;
  }
}

li {
  list-style-type: none;
}

.link {
  padding: 10px;
}

.link a {
  color: rgb(107, 107, 107);
  font-size: 0.8rem;
  text-decoration: none;
}

.link-main {
  margin-bottom: -1px;
}

.link-main:hover {
  border-bottom: 1px solid rgb(213, 92, 39);
}

/* display subnav on hover: */
.sub-nav {
  display: none;
}

.link-main:hover .sub-nav {
  display: block;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
      opacity: 0
  }
  100% {
      opacity: 1
  }
}

.section-marker {
  background-image: url("./assets/banner.jpg");
  background-size: cover;
  height: 180px;
}

.about-marker {
  background-color: rgb(213, 92, 39);
  border-radius: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120px;
  position: relative;
  margin-left: 100px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 120px;
}

.main {
  color: rgb(35, 35, 35);
  display: grid;
  gap: 40px;
  grid-template-columns: 2fr 1fr;
  line-height: 1.5;
  margin: 30px 70px 10px 100px;
}

@media only screen and (max-width: 600px) {
  .main {
    grid-template-columns: 1fr;
  }
}

.main p {
  margin-bottom: 20px;
}

.main p:nth-child(n+2) {
  font-size: 0.8rem;
}

.bx-pager-item {
  background-color: rgb(224, 222, 222);
  margin-bottom: 10px;
  padding: 10px;
}

.bx-pager-item:hover {
  background-color: rgb(213, 92, 39);
}

.bx-pager-item:active {
  background-color: rgb(213, 92, 39);
}

.name {
  color: rgb(35, 35, 35);
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: capitalize;
}

.footer {
  background-color: rgb(92, 92, 92);
  color: white;
  font-size: 0.5em;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px 30px 100px;
  margin-right: 70px;
}

.social-icons {
  display: flex;
}

.social {
  background-color: #adb2b3;
  background-image: url("./assets/social-icons.png");
  background-repeat: no-repeat;
  border-radius: 50px;
  margin-left: 10px;
  height: 35px;
  width: 35px;
}

#twitter {
  background-position: left 6px center;
}

#facebook {
  background-position: center;
}

#linkedin {
  background-position: right 6px center;
}

@media only screen and (max-width: 480px) {
  .footer-container {
    flex-direction: column;
    justify-content: flex-start;
  }

  .social-icons {
    justify-content: center;
    margin-top: 20px;
  }
}

